.titulo{
    color: blueviolet;
    text-align: center;
}
.marco{
    width: 100%;
    height: 200px;
    border: 1px solid #f72585;
}
.centrar{
    text-align: center;
}
.boton{
    background-color: rgb(0, 136, 255);
    border: 2px solid#457;
    text-decoration: none;
    display: inline-block;
    padding: 10px ;
    text-align: center;
}
.boton:hover{
    background-color: #f72585;
    color: aqua;
}